<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a href="https://bulma.io" class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png" alt="" width="112" height="28">
    </a>

    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarBasicExample" #navMenu>
    <div class="navbar-start">
      <a href="" class="navbar-item">Home</a>
      <a href="" class="navbar-item">Documentation</a>
      <a href="" class="navbar-item has-dropdown is-hoverable">
        <a href="" class="navbar-link">More</a>
        <div class="navbar-dropdown is-boxed">
          <a href="" class="navbar-item">About</a>
          <a href="" class="navbar-item">Jobs</a>
          <a href="" class="navbar-item">Contact</a>
          <hr class="navbar-divider">
          <a href="" class="navbar-item">Report an issue</a>
        </div>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
