<div class="section full">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <figure class="image">
          <img class="has-ratio" src="assets/svg/404.svg" alt="404 error image">
        </figure>
      </div>
    </div>
  </div>
</div>
